* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e6f4fb;
}

header {
    background-color: white;
    color: #333; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    position: sticky;
    top: 0;
    z-index: 100;
}

header input {
    padding: 8px 12px;
    border-radius: 20px; 
    border: 1px solid #ccc;
    outline: none;
    width: 200px;
    transition: all 0.3s ease;
}

header input:focus {
    border-color: #4bc0c0;
    box-shadow: 0 0 5px rgba(75, 192, 192, 0.5);
}

.sort-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
  
.sort-button img {
    width: 50px;
    height: 50px;
}  

.sidebar-menu img {
    width: 40px;
    height: 40px;
}  

.sidebar {
    width: 220px;
    background-color: white;
    color: black;
    min-height: 100vh;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
  
.sidebar.active {
    left: 0;
}
  
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
}
  
.sidebar.active {
    transform: translateX(0);
}
  
.sidebar-logo {
    margin-left: 30px;
    margin-bottom: 10px;
    background-color: white; 
}
  
.sidebar-logo img {
    width: 60px;
    height: 60px;

}
  
.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(100%); 
    background-color: #0074cc; 
}
  
.sidebar-menu li {
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
}
  
.sidebar-menu li:hover {
    background-color: #005fa3;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    display: block;
}

.dashboard-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333; 
}

.dashboard-title img {
    height: 40px;
    width: auto;
}

.library-container {
    padding: 20px;
    min-height: 40vh;
    display: flex;
    margin-left: 250px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(2, 100px);   
    margin-top: 30px;
    gap: 250px; 
}

.book-box {
    width: 300%;
    height: 300%;
    background-color: #dff0ff;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.book-link {
    text-decoration: none;
    display: inline-block;
  }